# Copy these to Cloudflare Pages as Environment Variables after enabling
# https://github.com/giscus/giscus on the repository that will host comments.
PUBLIC_GISCUS_REPO=yuhp/javayu
PUBLIC_GISCUS_REPO_ID=R_kgDOTX0Gbg
PUBLIC_GISCUS_CATEGORY=General
PUBLIC_GISCUS_CATEGORY_ID=DIC_kwDOTX0Gbs4DBJ44
